.home-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}

.home-presenter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/home_banner.png') center/cover no-repeat;
}

.home-normalizer{
    background: var(--primary-filter);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.home-intro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-1{
    width: 100%;
    height: 100vh;
    position: relative;
}
.box-1{
    background-color: var(--primary-800);
    box-shadow: var(--shadow-4);
    width: 30%;
    height: 60%;
    position: absolute;
    left: 5%;
    top: -20%;
    z-index: 1;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    padding: 2rem;
}
.box-2{
    width: 50%;
    height: 40%;
    display:flex;
    justify-content: space-between;
    align-items: center;    
    position: absolute;
    right: 5%;
    top: -10%;
}
.box-2 div{
    background-color: var(--white);
    box-shadow: var(--shadow-4);
    width: 30%;
    height: 70%;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.box-2 div aside{
    /* background-color: yellow; */
    width: 100%;
    height: 70%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-2 div aside img{
    /* background-color: yellow; */
    object-fit: cover;
}