.header{
    background-color: var(--white);
    width: 100vw;
    box-shadow: var(--shadow-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.header-content{
    width: 100%;
}
.navbar{
    border: 1px solid var(--white);
    color: var(--primary-900);
    /* padding-top: 0;
    padding-bottom: 0; */
    --bs-navbar-padding-y: 0px !important;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
    text-decoration: none;
    color: var(--grey-700);
}
.logo-container:hover{
    color: var(--primary-900);

}
.nav-item{
    color: var(--grey-700);
    text-decoration: none;
    padding: 0 1rem;
    font-family: "roboto";
    font-size: 17px;
}
.nav-item:hover{
    color: var(--primary-700);
}
/* Vertical responsive */
@media screen and (min-height: 800px) and (max-height: 1000px) {
    .logo {
        height: 5rem;
    }
}
@media screen and (min-height: 1001px) {
    .logo {
        height: 6rem;
    }
}

/* Herizontal responsive */
@media screen and (min-width: 991px) and (max-width: 1200px) {
    .header-content {
        width: 90%;
    }
}
@media screen and (min-width: 350px) and (max-width: 430px) {
    .input-area, div.form div.heading, div.gender {
        width: 19rem;
    }
    div.validation {
        width: 22rem;
    }
}
@media screen and (min-width: 431px) and (max-width: 780px) {
    .input-area, div.form div.heading, div.gender {
        width: 23rem;
    }
    div.validation {
        width: 26rem;
    }
    div.logo img {
        width: 180px;
    }
}
@media screen and (min-width: 781px) and (max-width: 990px) {
    .input-area, div.form div.heading, div.gender {
        width: 30rem;
    }
    div.validation {
        width: 33rem;
    }
    div.logo img {
        width: 210px;
    }
}

@media screen and (min-width: 991px){
    div.main-c{
        flex-direction:row;
    
    }
    div.descriptor-c{
        width: 60%;
        height: 100%;
    
    }
    div.recorder-c{
        width: 40%;
        height: 100%;
    }
    div.contain{
        align-items: center;
    }
    div.normalizer-c p{
        text-align: center;
        font-size: 1.3rem;
        
    }
    div.normalizer-c p.welcome{
        text-align: center;
        font-size: 3rem;
    }
    div.normalizer-c p.encourager{
        text-align: center;
        width: 80%;
        
    }
    div.main-c div.recorder-c div.form div.steps-c{
        height: 1%;
    }
    div.form{
        justify-content: center;
    }
}